---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Training & learning center">
  <Header />

  <main>
    <section id="home">
      <div class="container__img">
        <img src="assets/images/imagen-01.webp" alt="" />
      </div>
      <div class="container__text">
        <h2 class="title">
          <span>Centro de entrenamiento</span><br /> y aprendizaje de idiomas TLC
        </h2>
      </div>
    </section>

    <section id="principios">
      <div class="flow container__text">
        <h2>
          <span>Principios</span><br /> institucionales
        </h2>

        <p>
          Training and Learning Center tiene como fin suplir la necesidad de
          programas de alta calidad de formación y actualización docente en
          Colombia. La institución también pretende responder a la necesidad de
          asesoría educativa para instituciones públicas y privadas de procesos
          de bilingüismo y enseñanza de inglés. Training and Learning Center
          preparará profesores para lograr altos niveles de conocimiento y
          competencia en inglés, ayudarlos a entender su quehacer diario dentro
          del contexto del Programa Nacional de bilingüismo, y a implementar
          clases efectivas y experiencias significativas para todos los
          estudiantes durante todo el proceso de aprendizaje.
        </p>
      </div>
      <div class="container__img">
        <img src="assets/images/imagen-02.webp" alt="" />
      </div>
    </section>

    <section id="quienes_somos">
      <div class="flow container__text">
        <h2>
          <span>¿Quiénes</span><br /> somos?
        </h2>

        <p>
          Centro de Entrenamiento y Aprendizaje de idiomas LTC Ltda. desde el
          2009 ofrece programas y servicios de alta calidad para instituciones
          educativas y docentes, centrados en la enseñanza de inglés y en los
          procesos de bilingüismo en Colombia.
        </p>

        <p>
          Ofrecemos además cursos y seminarios In-House para empresas, llegando
          a su personal con tendencias innovadoras en el campo de formación,
          tanto en contenidos como en metodologías pedagógicas, asegurando que
          el entrenamiento que impartimos se convierta en un elemento
          estratégico de desarrollo y evolución profesional para sus
          colaboradores.
        </p>
      </div>
      <div class="container__img">
        <img src="assets/images/imagen-03.webp" alt="" />
      </div>
    </section>

    <section id="programas">
      <div class="flow container__text">
        <h2>
          <span>Oferta de</span> programas
        </h2>

        <p>Segundo idioma: inglés.</p>

        <ul>
          <li>Conocimientos académicos en inglés A1 y A2</li>
          <li>Conocimientos académicos en inglés B1</li>
          <li>Conocimientos académicos en inglés B2</li>
          <li>Conocimientos académicos en inglés C1</li>
        </ul>

        <p>
          Training and Learning Center ofrece un programa del idioma inglés de
          1200 horas que se denomina inglés en el Mundo. Training and Learning
          Centre también ofrece un programa de formación de docentes de inglés
          de 180 horas, diseñado de acuerdo con los objetivos del Programa
          Nacional de Bilingüismo, que se denomina Fundamentos de la Enseñanza
          del inglés en Colombia: Estándares, Plan de estudios y Evaluación.
          Adicionalmente, Training and Learning Center ofrece dos grupos de
          cursos bajo la figura de la educación formal. Son cursos libres de
          20-60 horas cada uno que no tienen secuencia fija. Training and
          Learning Center también ofrece cursos libres de 20 horas cada uno, de
          capacitación de docentes de inglés dentro del programa. Training and
          Learning Center ofrece cursos libres de 40-60 horas de preparación de
          exámenes de suficiencia en el idioma inglés, y de exámenes de
          certificación de profesores de inglés.
        </p>

        <p>Segundo idioma: francés.</p>

        <ul>
          <li>Conocimientos académicos en francés A1 y A2</li>
          <li>Conocimientos académicos en francés B1</li>
          <li>Conocimientos académicos en francés B2</li>
          <li>Conocimientos académicos en francés C1</li>
        </ul>
      </div>
      <div class="container__img">
        <img src="assets/images/imagen-04.webp" alt="" />
      </div>
    </section>

    <section id="proyectos">
      <div class="flow container__text">
        <h2>
          <span>Proyectos</span>
          <br /> de éxito
        </h2>

        <p>
          Somos una Institución de Educación para el Trabajo y el Desarrollo
          Humano con licencia de funcionamiento por la Secretaría de Educación –
          Localidad de Usaquén, ofrecemos un enfoque integral de enseñanza,
          aprendizaje, evaluación y certificación en lenguas.
        </p>

        <p>
          Contamos con programas de formación bajo los estándares del Marco
          Común Europeo, brindando asesorías completas, bajo métodos vivenciales
          que combina inglés social y de negocios desde los primeros niveles, en
          áreas de comunicación y representación, identidad y autonomía
          personal.
        </p>

        <p>
          Además de ello, contamos con una amplia experiencia en proyectos de
          formación bilingüe con diferentes instituciones de carácter público y
          privado, como alcaldía, gobernaciones, entes estatales e instituciones
          de formación académica y profesional.
        </p>
      </div>
      <div class="container__img">
        <img src="assets/images/imagen-05.webp" alt="" />
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  main {
    position: relative;
    line-height: 1.6;
  }

  section {
    /* border: 1px solid red; */
    position: relative;
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    background-image: var(--image, url(assets/images/background.webp));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #home {
    --image: url(assets/images/background__home.webp);
    grid-template-columns: 2fr 1fr;
  }

  #home .container__text {
    align-self: center;
  }

  #home .container__img {
    align-self: flex-end;
    justify-self: flex-start;
  }

  .title {
    font-size: var(--fs-xxxl);
  }

  .title span {
    font-size: var(--fs-xxl);
  }

  h2 {
    text-transform: uppercase;
    font-weight: 900;
  }
  h2 span {
    color: var(--accent);
  }

  .container__text {
    padding-inline: 1.6rem;
    padding-block: 2rem;
  }

  .container__text p {
    text-wrap: wrap;
    text-align: justify;
  }

  .container__img {
    align-self: flex-end;
    justify-self: flex-end;
  }
  img {
    display: block;
    max-width: var(--size, 1150px);
    width: 100%;
  }

  li {
    list-style: none;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23009ed2"><path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/></svg>');
  }

  ul li::marker {
    font-size: 1.5rem;
    line-height: 0.1em;
  }
</style>
