
<header>
    <nav role="navigation">
        <ul>
            <li>Principios</li>
            <li>¿Quiénes somos?</li>
            <li>Programas</li>
            <li>Proyectos de éxito</li>
        </ul>
    </nav>
</header>